version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auction_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - auction_net

  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - auction_net

  webhook:
    build: .
    command: python webhook.py
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - auction_net

volumes:
  pg_data:

networks:
  auction_net:
    driver: bridge
